{#
/**
 * @file
 * Theme implementation for Symfony Email wrapper.
 *
 * Variables:
 * - body: Email body content.
 * - is_html: True if generating HTML output, false for plain text.
 * - subject: Email subject.
 * - type: Email type.
 * - sub_type: Email sub-type.
 * - attributes: HTML attributes for the top-level email element.
 *
 * @see template_preprocess_email_wrap()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'email-type-' ~ type|clean_class,
  'email-sub-type-' ~ sub_type|clean_class,
]
%}

{% if is_html %}
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600');</style>
    <style type="text/css">
      .ExternalClass {width: 100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
      body {margin:0; padding:0;}
      table td {border-collapse:collapse}

      @media screen {
        td[class="unltoday-head"] {
          font-family:'Montserrat',Verdana,sans-serif!important;
          font-weight: 500;
        }
        .lead td[class="unltoday-head"] {
          font-weight: 600;
        }
        td[class="wdn-logo-lockup"] {
          font-family:'Montserrat',Verdana,sans-serif!important;
          font-weight: 600;
        }
      }

      @media screen and (max-width: 650px) {
        body[yahoo] .wrapper{
          width:100% !important;}
        body[yahoo] .mobile-hide{
          display:none;}
        body[yahoo] .mobile-show{
          display:block!important;}
        body[yahoo] .wdn-header-top img{
          height:30px!important;
          width:auto!important;
        }
        body[yahoo] .wdn-logo{
          width:66px!important;
        }
        body[yahoo] .wdn-logo img{
          height:71px!important;
          width:auto!important;
        }
        body[yahoo] .wdn-logo-lockup img{
          height:71px!important;
          width:auto!important;
        }
        body[yahoo] table.button{
          width:85%!important;
          height:auto}
        body[yahoo] td.button {
          font-size: 20px!important;
          padding: 10px!important;}
        body[yahoo] .img-full{
          width:100% !important;
          max-width: 100%;
          height:auto;}
        body[yahoo] .responsive-table{
          float: none!important;
          width:100%!important;}
        body[yahoo] .padding {
          padding: 10px 8% 10px 8% !important;
          text-align: center !important;}
        body[yahoo] .section-padding{
          padding: 50px 15px 50px 15px !important;}

        td[class="unltoday-padding"]{
          padding: 20px 15px 20px 15px !important;}
        td[class="unltoday-mast"]{
          display:block!important;}
        td[class="unltoday-head"]{
          font-size:20px!important;
          padding-bottom:14px!important;}
        td[class="unltoday-body"]{
          display:block!important;
          padding:0!important;}
      }
    </style>
  </head>
  <body{{ attributes.addClass(classes) }} yahoo="fix" style="margin: 0; padding: 0; color:#5b5b5a; font-size:16px; line-height:1.777; font-family:Georgia, serif;" bgcolor="#fefdfa" link="#d00000">
    {{ body }}
  </body>
  </html>
{% else %}
  {{ body }}
{% endif %}
