.dcf-hover-image {
  border: 1px solid var(--bg-btn-tertiary);
  transition: border 0.5s ease;
}

.dcf-hover-image:hover {
  border: 1px solid var(--hover);
}

.dcf-l-line {
  height: 1px;
  margin-bottom: 18px;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#41413f),
    to(transparent),
    color-stop(40%, #41413f)
  );
}

.slide {
  transition: all ease-in-out 300ms;
}

.slide::after {
  content: "";
  float: left;
}

.dcf-font-family {
  font-family: Mercury SSm A, Mercury SSm B, Georgia, serif !important;
}

.landing-section {
  max-height: 80vh;
  width: auto;
  overflow: hidden;
}

.dcf-custome-col {
  display: grid;
  grid-template-columns: 31% 60%;
}

.dcf-basic-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3.16vw;
}
.dcf-hover {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dcf-hover:hover {
  opacity: 0.7;
}

.grid-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Quote Block */
.dcf-credit div {
  font-style: normal;
  text-align: right;
  font-style: italic;
  color: var(--caption);
}

.dcf-credit div:nth-of-type(1)::before {
  content: "\2014\0020";
  color: #d00000;
}

.dcf-credit a {
  text-decoration: none;
  color: var(--caption);
}

.dcf-credit-link div:nth-of-type(1):hover {
  color: var(--hover);
}

.dcf-quote-box-left-border div {
  margin-left: 1.5rem;
}

.dcf-quote-box-left-border {
  border-left: 3px solid #d00000;
}

.dcf-quote-box-left-border div ::after {
  content: '"';
}

.dcf-quote::before {
  content: "\201c";
  font-size: 8.4em;
  color: #d00000;
  display: block;
  margin-bottom: -100px;
  margin-top: -20px;
}

.dcf-credit-title {
  font-style: normal;
  text-align: right;
  font-style: italic;
  color: var(--caption);
}

.dcf-credit-title div::before {
  color: var(--btn-inverse-primary);
  content: " ( ";
}
.dcf-credit-title div::after {
  color: var(--btn-inverse-primary);
  content: " ) ";
}

/* DCF-Quote */
blockquote {
  margin: 0;
}

blockquote::before {
  content: "\201c";
  font-size: 8.4em;
  color: #d00000;
  display: block;
  margin-bottom: -100px;
  margin-top: -20px;
}
blockquote p:nth-of-type(1)::after {
  content: '"';
}

blockquote p:first-of-type {
  border-left: 3px solid #d00000;
  padding-left: 1.5rem;
}
blockquote p:nth-of-type(2) {
  font-style: normal;
  text-align: right;
  font-style: italic;
  color: var(--caption);
}

blockquote p:nth-of-type(2)::before {
  content: "\2014\0020";
  color: #d00000;
}

/* blockquote p:nth-of-type(2):hover {
  color: var(--hover);
} */

blockquote p:nth-of-type(3) {
  font-style: normal;
  text-align: right;
  font-style: italic;
  margin-top: -1rem;
  color: var(--caption);
}

blockquote p:nth-of-type(3)::before {
  color: var(--btn-inverse-primary);
  content: " ( ";
}

blockquote p:nth-of-type(3)::after {
  color: var(--btn-inverse-primary);
  content: " ) ";
}

/* DCF-Quote Card */
.dcf-pill div {
  background-color: #42a7c6;
  color: #fefdfa;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.26em 0.56em;
  cursor: default;
}

.dcf-pill div:hover {
  background-color: #71bdd3;
}

.dcf-quote-card {
  background-color: var(--bg-body);
  max-width: 30ch;
  height: 100%;
  box-shadow: 0px 5px 10px 0px rgba(66, 167, 198, 0.3);
  border-bottom: 5px solid #d00000;
}

.dcf-quote-card-quote::before {
  content: "\201c";
  font-size: 4.4em;
  color: #d00000;
  display: block;
  margin-bottom: -50px;
  margin-top: 0px;
}

.dcf-quote-card-quote div::after {
  content: '"';
}

/* Paragraph Card */
.dcf-paragraph-card {
  background-color: var(--bg-body);
  max-width: 30ch;
  height: 100%;
  box-shadow: 0px 5px 10px 0px rgba(66, 167, 198, 0.3);
  border-bottom: 5px solid #d00000;
}

/* Image with Quote Card */
.dcf-image-quote-card {
  background-color: var(--bg-body);
  max-width: 70ch;
  height: 100%;
  box-shadow: 0px 5px 10px 0px rgba(66, 167, 198, 0.3);
  border-bottom: 5px solid #d00000;
}

/* Image parallax body */
.dcf-parallax-image-body {
  position: relative;
}
/* Full screen */
@media only screen and (min-width: 42.09em) {
  /* Heading Placement*/
  .dcf-title-center-left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 50%;
    position: absolute;
  }
  .dcf-title-bottom-left {
    bottom: 5%;
    left: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-center-right {
    top: 50%;
    right: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-bottom-right {
    bottom: 5%;
    right: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  .dcf-title-bottom-center {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
  }

  /* Credit */
  .dcf-credit-text {
    text-align: left;
  }

  /* News Column  */
  .dcf-news-column {
    max-width: 35.52em;
    padding: 0 1.58vw;
  }

  .outer-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  /* 4 by 4 grid */
  .dcf-gallery4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    height: 40vh;
  }

  .dcf-height-40vh {
    height: 40vh;
  }

  /* grid images for 2 */
  /* Type 1 */
  .dcf-gallery-2-1-type1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-2-2-type1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  /* Type 2 */
  .dcf-gallery-2-1-type2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-2-2-type2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  /* grid images for 3 */
  /* Type 1 */
  .dcf-gallery-3-1-type1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .dcf-gallery-3-2-type1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .dcf-gallery-3-3-type1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  /* Type 2 */
  .dcf-gallery-3-1-type2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-3-2-type2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .dcf-gallery-3-3-type2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  /* Type 3 */
  .dcf-gallery-3-1-type3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-3-2-type3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-3-3-type3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  /* Type 4 */
  .dcf-gallery-3-1-type4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-3-2-type4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-3-3-type4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  /* 8 by 8 grid */

  .dcf-gallery8x8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }
  .dcf-gallery8x8-wide {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }

  .dcf-wrapper-custom {
    padding-left: 15.62vw;
    padding-right: 15.62vw;
  }

  /* grid images for 4 */
  /* Type 1 */
  .dcf-gallery-4-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-4-2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .dcf-gallery-4-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  .dcf-gallery-4-4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  /* grid images for 5 */
  /* Type 1 */
  .dcf-gallery-5-1-type1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-2-type1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-3-type1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-4-type1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-5-5-type1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  /* Type 2 */
  .dcf-gallery-5-1-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-2-type2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-3-type2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-5-4-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-5-5-type2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  /* grid for 6 images */
  /* Type 1 */
  .dcf-gallery-6-1-type1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-6-2-type1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-6-3-type1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-6-4-type1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .dcf-gallery-6-5-type1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-6-6-type1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  /* Type 2 */
  .dcf-gallery-6-1-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-6-2-type2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-6-3-type2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-6-4-type2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .dcf-gallery-6-5-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-6-6-type2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  /* grid for 7 images */
  /* Type 1 */
  .dcf-gallery-7-1-type1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-7-2-type1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .dcf-gallery-7-3-type1 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-7-4-type1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .dcf-gallery-7-5-type1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-7-6-type1 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-7-7-type1 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  /* Type 2 */
  .dcf-gallery-7-1-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .dcf-gallery-7-2-type2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .dcf-gallery-7-3-type2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .dcf-gallery-7-4-type2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .dcf-gallery-7-5-type2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-7-6-type2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-gallery-7-7-type2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .dcf-card-bleed-right {
    float: right;
    margin-right: -3rem;
  }
  .dcf-card-bleed-left {
    float: left;
    margin-left: -3rem;
  }

  /* Image Quote Card */
  /* .dcf-image-quote-grid {
    display: grid;
    grid-template-columns: 3.16em minmax(auto, 42.09em) 1fr;
    grid-template-rows: minmax(auto, 17.8em) 10em 1fr;
  }

  .dcf-q-image {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }
  .dcf-q-card {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .dcf-q-image div {
    margin-left: -7vw;
    margin-right: -7vw;
  } */

  /* Image Grid Test */
  .dcf-image-quote-grid {
    display: grid;
    grid-template-columns: 3.16em minmax(auto, 42.09em) 1fr;
    grid-template-rows: minmax(auto, 17.8em) 10em 1fr;
  }
  .grid-cont {
    margin-left: -20em;
    margin-right: -20em;
    height: 70vh;
  }
  .dcf-q-image {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }
  .dcf-q-image div {
    object-fit: cover !important;
    overflow: hidden;
    height: 30em;
  }
  .dcf-q-card-left {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  .dcf-q-card-right {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}

/* CSS applied for css screen width equal or less than of 42.09em */
@media only screen and (max-width: 42.09em) {
  .dcf-basic-view-hr {
    display: none;
  }
  .dcf-credit-text {
    text-align: right;
  }
  .dcf-flex-col-custom {
    display: flex;
  }
  .column-cust {
    flex: 1;
    margin: auto;
    padding: 0 1.58vw;
  }
}

/* Css is applied for css screen width more than or equal to 40em  */
@media only screen and (min-width: 40em) {
  .inner-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .inner-content-item1 {
    padding: 0 1.58vw;
    float: right;
  }

  .outer-content-item2 {
    padding-left: 2.5em;
  }

  .inner-content-item2 {
    order: -1;
  }
}
