.dcf-hover-image {
  border: 1px solid var(--bg-btn-tertiary);
  transition: border 0.5s ease;
}

.dcf-hover-image:hover {
  border: 1px solid var(--hover);
}

.dcf-l-line {
  height: 1px;
  margin-bottom: 18px;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(#41413f),
    to(transparent),
    color-stop(40%, #41413f)
  );
}

.slide {
  transition: all ease-in-out 300ms;
}

.slide::after {
  content: "";
  float: left;
}

.dcf-font-family {
  font-family: Mercury SSm A, Mercury SSm B, Georgia, serif !important;
}

.landing-section {
  max-height: 80vh;
  width: auto;
  overflow: hidden;
}

.dcf-custome-col {
  display: grid;
  grid-template-columns: 31% 60%;
}

.dcf-basic-view {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3.16vw;
}

@media only screen and (min-width: 42.09em) {
  .dcf-credit-text {
    text-align: left;
  }
  .dcf-title-center-left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 50%;
    position: absolute;
  }
  .dcf-title-bottom-left {
    bottom: 5%;
    left: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-center-right {
    top: 50%;
    right: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-bottom-right {
    bottom: 5%;
    right: 2%;
    width: 40%;
    position: absolute;
  }
  .dcf-title-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  .dcf-title-bottom-center {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
  }
}

@media only screen and (max-width: 42.09em) {
  .dcf-basic-view-hr {
    display: none;
  }
  .dcf-credit-text {
    text-align: right;
  }
}
