   <div class="dcf-wrapper custom-main-page">
      <div class="dcf-basic-view">
        <div class="dcf-col-100% dcf-col-67%-start@sm dcf-col-75%-start@md">
          <div>{{ content.field_image }}</div>
        </div>
        <div class="dcf-col-100% dcf-col-33%-end@sm dcf-col-25%-end@md">
          <hr class="custom-l-line dcf-mt-0 dcf-mb-1 dcf-basic-view-hr">
          <div
              class="dcf-txt-3xs custom-hide dcf-italic dcf-pr-5 dcf-mt-0 dcf-mb-1 custom-credit-text"> {{ credit }}</div>
          <div class="dcf-txt-xs dcf-mb-6">
            {{ content.field_cutline }}
          </div>
        </div>
      </div>
    </div>

