<div class="dcf-mb-3 dcf-quote">
    <div class="dcf-quote-box-left-border">{{ content.body }}</div>
    <div class=" dcf-credit">{{ content.field_quotemaster }} </div>
    <span class="dcf-credit-title">{{ content.field_quotemaster_title }} </span>
</div>
