<div class="dcf-mb-3 dcf-quote">
    <div class="dcf-quote-box-left-border">{{ content.body }}</div>
    <div class="dcf-credit dcf-credit-link"><a href="{{ content.field_quotemaster_link.0["#url"] }}">{{ content.field_quotemaster }}</a></div>
    <span class="dcf-credit-title">{{ content.field_quotemaster_title }}</span>
</div>
