<div class="dcf-mt5 dcf-mb-5">
    <div class="dcf-bleed dcf-parallax-image-body dcf-wrapper" style="background:url({{file_url(content.field_body_parallax_image['#items'].entity.uri.value) }});  background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; height:{{ content.field_body_parallax_image_size.0["#markup"] }};">
    </div>
</div>