<div class = "dcf-pb-4">
    <hr class="dcf-l-line dcf-mt-0">
    <h2 class = "dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1" style = " color : var(--heading); ">{{label}}</h2>
    <a href="" target="_blank">{{ items.0.content }}</a>
</div>
