<div class = "dcf-pb-4">
    <hr class="custom-l-line dcf-mt-0">
    <h2 class = "dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1" style = " color : var(--heading); ">{{label}}</h2>
    <div class = "dcf-txt-xs" style = "line-height: 1.5;">
    {% for item in items %}
        <div class = "">
            <ul class = "dcf-list-bare dcf-mb-0">
                <li class = "dcf-d-flex unl-dark-grayfd">
                    <svg aria-hidden="true" class="dcf-flex-shrink-0 dcf-mr-1 dcf-fill-current" height="19" width="19" viewbox="0 0 24 24" >
                    <path d="M12.001 16.243l-3.183 3.182c-.944.944-2.592.944-3.536 0l-.707-.706a2.484 2.484 0 01-.732-1.768c0-.668.26-1.295.732-1.767l4.597-4.597a2.503 2.503 0 013.536 0l.707.708a.5.5 0 00.707-.707l-.707-.708a3.504 3.504 0 00-4.95 0l-4.597 4.597a3.473 3.473 0 00-1.025 2.474c0 .935.364 1.814 1.025 2.475l.707.706a3.478 3.478 0 002.476 1.025c.935 0 1.814-.364 2.475-1.025l3.183-3.182a.5.5 0 00-.708-.707z"></path>
                    <path d="M20.132 4.575l-.707-.707a3.504 3.504 0 00-4.949 0l-3.182 3.181a.5.5 0 00.707.707l3.182-3.181a2.503 2.503 0 013.535 0l.707.707c.472.472.732 1.1.732 1.768 0 .668-.26 1.296-.732 1.768l-4.596 4.596c-.473.473-1.1.733-1.768.733-.667 0-1.294-.26-1.766-.732a.5.5 0 00-.708.706 3.472 3.472 0 002.474 1.026c.935 0 1.814-.364 2.475-1.026l4.596-4.596a3.477 3.477 0 001.025-2.475c0-.935-.364-1.814-1.025-2.475z"></path></svg>
                    {{ item.content}} 
                </li>
            </ul>
        </div>
    {% endfor %} 
    </div>
</div>