<div {{ attributes }}>
  <div class="dcf-relative dcf-mt-0 dcf-mb-0 dcf-mr-auto dcf-ml-auto">
    <div class="dcf-d-block">
      {{ content.field_media_image }}
    </div>
  </div>
  <div class="media-credit unl-font-sans dcf-txt-3xs dcf-italic dcf-pt-1 dcf-pb-2">
    {{ content.field_media_image_credit }}
  </div>
</div>
