<div>
    <div class="custom-athletics-flex">
    <div class="custom-athletics-primary-news-image custom-athletics-background-color" style="overflow:hidden">
        {{ content.field_feed_image }}
    </div>
    <div class="custom-athletics-primary-news-title custom-athletics-plain-text ">
        {{ content.field_feed_link }}
    </div>    
    </div>
</div>