<div class="custom-athletics-padding "> 
    <div class="dcf-d-flex dcf-flex-row dcf-pr-5 dcf-ai-center" >
        <div class="dcf-2nd custom-width-66 dcf-float-right custom-athelic-padding">
            <div>
                <h3 class="dcf-regular dcf-mb-0" style="font-size: 1.3rem; max-width: 85%; ">  {{ content.field_feed_link }}</h3>
                <p class="dcf-pt-2">16 hours ago</p>
            </div>
        </div>
        <div class="dcf-1st custom-width-33 dcf-float-left custom-athelic-padding">
            {{ content.field_feed_image }}
        </div>
    </div>
</div>