<div>
    <div class="custom-athletics-flex custom-athletics-background-color">
        <div class="custom-athletics-primary-news-image ">
            {{ content.field_feed_image }}
        </div>
        <div class="custom-athletics-primary-news-title custom-athletics-plain-text ">
            {{ content.field_feed_link }}
        </div>    
    </div>
</div>
