<div class="custom-oncampus-2">
    <div class="custom-oncampus-title">
        <h3>This is the title</h3>
    </div>
    <div class="custom-oncampus-image">
        {{ content.field_article_lead_image[0]['field_image'] }} 
    </div>
</div>
