<div class="dcf-bleed custom-page custom-hide-title custom-d-flex">
    <div class="custom-heading">
        <h2>Green urges new grads to dream big, work hard, stay humble</h2>
        <p>Agriculture</p>
    </div>
    <div class="custom-image">
        {{ content.field_article_lead_image }}
    </div>
</div>
<div class="dcf-pt-8 ">
    {{ drupal_view('recent', 'block_2') }}
</div>
<div class="dcf-pt-8 ">
    {{ drupal_view('more_headlines', 'block_1') }}
</div>