<div class="custom-editor-choice">
    <div class"custom-editor-image">{{ content.field_article_lead_image }}</div>
    <div class="custom-editor-text dcf-regular dcf-txt-h5">{{ label }}</div>
</div>

