<div class="dcf-bleed custom-page custom-hide-title custom-d-flex">
    <div class="custom-heading">
        <h2>{{ label }}</h2>
        <p> </p>
        <div class="dcf-mt-7 custom-hide-link custom-feature-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans "><a class="dcf-txt-decor-none custom-arrow" href="/headlines/1/">Read more</a></div>
    </div>
    <div class="custom-image">
        {{ content.field_article_lead_image }}
    </div>
</div>


