<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-col-gap-5 dcf-row-gap-5 dcf-mb-8">
    <div>{{ content.field_contact_reference }}</div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 dcf-mb-5">bio</h2>
        <div>{{ content.field_bio_override }}</div>
    </div>
</div>

