{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="dcf-grid-halves@sm dcf-grid-thirds@md dcf-grid-fourths@lg dcf-col-gap-vw dcf-row-gap-5">
  {% for rows in row_chunks %}
    <div>
      <ul class="dcf-list-bare dcf-mb-0 dcf-txt-sm unl-list-links unl-font-sans">

        {% for row in rows %}
          {%
            set row_classes = [
            default_row_class ? 'views-row',
          ]
          %}
          <li{{ row.attributes.addClass(row_classes) }}>
            {{- row.content -}}
          </li>
        {% endfor %}

      </ul>
    </div>
  {% endfor %}
</div>

<style>
    .unl-list-links li {
        margin-bottom: 0;
        padding: .32em 0;
    }
    .unl-list-links a {
        display: inline-block;
        margin: -.32em 0 -.32em -.75em;
        padding: .32em .75em;
    }
</style>
