{# Used in '50/50 Lead & View' section of node--article--featured #}

<div class="dcf-d-flex dcf-flex-col dcf-col-gap-vw ">
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row dcf-col dcf-pb-3',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>
<div class="dcf-txt-right dcf-txt-xs dcf-uppercase unl-font-sans dcf-mt-4">
  <a class="dcf-txt-decor-none custom-arrow" href="{{ path('view.headlines.page_1') }}">More headlines</a>
</div>

