<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/aug-25-at-nebraska-union-plaza/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Aug. 25 at Nebraska Union Plaza</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Thursday, September 7, 2017 - 10:15</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/daca/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">DACA</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Tuesday, September 5, 2017 - 10:30</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/unite-the-right-rally-in-charlottesville-virginia/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Unite the Right rally in Charlottesville Virginia</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Monday, August 14, 2017 - 00:00</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/passing-of-juan-franco/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Passing of Juan Franco</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Wednesday, August 2, 2017 - 13:00</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/president-trumps-executive-order-regarding-immigration-and-refugees/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">President Trump's executive order regarding immigration and refugees</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Monday, June 26, 2017 - 14:15</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/budget/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Budget</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Tuesday, May 30, 2017 - 09:30</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/global-wannacry-ransomware-attack/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Global 'WannaCry' ransomware attack</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Saturday, May 13, 2017 - 14:30</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/activities-of-phi-gamma-delta-fiji/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Activities of Phi Gamma Delta (Fiji)</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Thursday, March 23, 2017 - 17:00</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/phi-kappa-psi-suspension/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Phi Kappa Psi suspension</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Wednesday, February 22, 2017 - 14:15</span>
    </div>
</div>

<div class="dcf-grid-halves@md dcf-grid-full@sm dcf-mb-7">
    <div>
        <a href="https://news.unl.edu/topic-tags/math-placement-test-server-breach/" class="dcf-txt-decor-none"><h2 class="dcf-regular" style = "color:var(--link);">Math Placement Test server breach</h2></a>
    </div>
    <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular unl-ls-1">DATE ISSUED</h2>
        <span>Tuesday, December 20, 2016 - 15:45</span>
    </div>
</div>